@import 'head';

.goodslist{
    height: 600px;width: 100%;
    .img{
        height: 100%;width: 600px;border: 1px solid #585858;
    }
}

#sale{
    .sell{
    color: red;margin:0 60px;
    }
    .outprice{
        text-decoration: line-through;
    }
    button{
    height: 40px;width: 200px;background: #E93B78;margin-left: 214px;
    }

}
#role{
    padding-left: 120px;
    span{
        font-size: 16px;margin: 0 8px;padding: 4px 6px;border: 1px solid #000;border-radius:12px;
    }
}


.img{
    position: relative;
    .prev,.next{
        position: absolute;bottom: 75px;z-index:100;height: 80px;width: 22px;text-align: center;line-height: 80px;background: #ccc;opacity: 0.4;font-size: 40px;
    }
    .prev{
        left: 0px;
    }
    .next{
        right: 0px;
    }

}
.active{
    width: 100%;height: 340px;
}
.good{
    position: absolute;top: 350px;left: 0px;
}
.zoom{
    position: absolute;top: 350px;right: 40px;
}